{% block sw_cms_element_image_text_preview %}
<div class="sw-cms-el-preview-image-text">
    <img
        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
        alt=""
    >
    <div>Lorem</div>
</div>
{% endblock %}
